.cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua !important;
}
 .tex{
  color: blue ;
  background-color: aqua ;
 }
 .img{
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
 .but{
  background-color: yellow;
  width: 50px;
  height: 50px;
 }